<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ayudante</a>
                </div>
                

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        {% block actions %}
                        {% endblock actions %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if user.is_authenticated %}
                                Hola {{ user.username }}
                            {% else %}
                                <button class="btn my-2 my-sm-0" href="{% url 'login' %}">Iniciar Seseión</button>
                            {% endif %}
                        </li>
                    </ul>

                </div>

            </div>
        </nav>

        <div class="jumbotron">
            <main role="main" class="container" style="padding: 60px 15px 0;">
                <div class="row">
                    <div class="col-lg-6">
                        {% block content %}
                            <!-- Aquí va el contenido que ocupan otras views o otras apps de Django -->
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>

    </div>
</body>

<footer class="footer">
    <div class="container">
        <span class="text-muted"><a href="https://github.com/edwinhazel/Hackaton">Code</a></span>
    </div>
</footer>

</html>